In [ ]:
#라이브러리 선언
#postgresql용 라이브러리
import psycopg2
import pandas as pd
import pymysql
from sqlalchemy import create_engine

dbPrefix ="postgresql"
bdId ="postgres"
dbPw ="postgres"
dbIp ="192.168.110.111"
dbPort ="5432"
dbName = "postgres"
pgEngine=create_engine(f"{dbPrefix}://{bdId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")
pgEngine

In [62]:
selSelect ="""
SELECT *
FROM csdata_kopo
"""

pd.read_sql_query(sql=selSelect, con=pgEngine)

     custid     avgprice  emi  devicecount  productage          custtype
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [70]:
selSelect ="""
SELECT *
FROM csdata_kopo
WHERE 1=1
AND EMI=2 AND avgprice>=3200
"""

csdata=pd.read_sql_query(sql=selSelect, con=pgEngine)

In [78]:
dbprefix ="mysql+pymysql"
dbId ="hkcode"
dbPw = "hkcodemariadb"
dbIp = "139.150.80.119"
dbPort = "3306"
dbName="hkcodedb"
EngineLocal=create_engine(f"{dbprefix}://{dbId}:{dbPw}@{dbIp}:{dbPort}/{dbName}")
name = "csdata_김만섭"
csdata.to_sql(name, EngineLocal, if_exists="replace", index=False)

95

In [79]:
csdata.dtypes

custid          object
avgprice       float64
emi              int64
devicecount      int64
productage     float64
custtype        object
dtype: object

In [93]:
CsData2=csdata.loc[(csdata.avgprice.astype(float)>=3200) & (csdata.emi.astype(int)==2) ]

CsData2

    custid     avgprice  emi  devicecount  productage          custtype
0   A14219  3642.441950    2            4    2.682023      Sleeping-dog
1   A15312  3653.884565    2            5    3.208202      Sleeping-dog
2   A16605  3713.211107    2            6    0.900000        Early-bird
3   B10634  3391.074215    2            4    2.453656      Sleeping-dog
4   B16849  3755.263391    2            4    2.786665      Sleeping-dog
..     ...          ...  ...          ...         ...               ...
90  Z12343  3498.896985    2            6    0.900000        Early-bird
91  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
92  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
93  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
94  Z19835  3326.526183    2            6    1.200000        Early-bird

[95 rows x 6 columns]